.synopsis {
  color: #7E8184;        /* Light gray */
  font-style: italic;
}
.synopsis em {
  font-style: normal;
}

#button-2 {
  color: #5D6063;  /* Dark gray */
}

.button:link,
.button:visited {
  display: block;
  text-decoration: none;

  color: #FFF;
  background-color: #5995DA;    /* Blue */
  font-weight: bold;
  padding: 20px;
  text-align: center;
  border: 2px solid #5D6063;    /* Dark gray */
  border-radius: 5px;

  width: 200px;
  margin: 20px auto;
}

.button:hover,
.button:visited:hover {
  color: #FFF;
  background-color: #76AEED;  /* Light blue */
}

.button:active,
.button:visited:active {
  color: #FFF;
  background-color: #5995DA;  /* Blue */
}

#button-2 {
  background-color: #D55C5F;    /* Red */
}

.call-to-action:link,
.call-to-action:visited {
  font-style: italic;
  background-color: #EEB75A;     /* Yellow */
}

.call-to-action:hover,
.call-to-action:visited:hover {
  background-color: #F5CF8E;     /* Light yellow */
}

.call-to-action:active,
.call-to-action:visited:hover {
  background-color: #EEB75A;     /* Yellow */
}
/*
.page {
  width: 600px;
  margin: 0 auto;
}
*/
.call-to-action {
  font-style: italic;
  background-color: #EEB75A;    /* Yellow */
  margin: 20px auto;
}

a:link {
  color: blue;
  text-decoration: none;
}
a:visited {
  color: purple;
}
a:hover {
  color: aqua;
  text-decoration: underline;
}
a:visited:hover {
  color:orange;
}
a:active {
  color: red;
}
a:visited:active {
  color:red;
}
