* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.menu-container {
  color: #FFF;
  background-color: #5995DA;  /* Blue */
  padding: 20px 0;
  display: flex;
  justify-content: center;
}

.menu {
  border: 1px solid #fff;
  width: 900px;
  display: flex;
  justify-content: space-between;
}

.links {
  border: 1px solid #fff;  /* For debugging */
  display: flex;
  justify-content: flex-end;
}

.login {
  margin-left: 20px;
}


.header-container {
  color: #5995DA;
  background-color: #D6E9FE;
  display: flex;
  justify-content: center;
}

.header {
  width: 900px;
  height: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social,
.logo,
.subscribe {
  border: 1px solid #5995DA;
}


.social,
.subscribe {
  align-self: flex-end;
  margin-bottom: 20px;
}

.photo-grid-container {
  display: flex;
  justify-content: center;
}

.photo-grid {
  width: 900px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
}

.photo-grid-item {
  /*border: 1px solid #f00;*/
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/*
.first-item {
  order: -1;
}

.last-item {
  order: 1;
}
*/
.footer {
  display: flex;
  justify-content: space-between;
}

.footer-item {
  border: 1px solid #fff;
  background-color: #D6E9FE;
  height: 200px;
  flex: 1;
}

.footer-three {
  flex: 2;
}

.footer-one,
.footer-three {
  background-color: #5995DA;
  flex: initial;
  width: 300px;
}

.signup {
  margin-left: auto;
}

.first-item {
  display: block;
  justify-content: flex-start;
  align-items: flex-start;
  border: 5px solid #00f;
}

.photo-grid-item-image {
  float: left;
}

.photo-grid-item-image > img {
  border: 5px solid #f00;
  width: 200px;
  margin-right: 15px;
}
.photo-grid-item-text > p{
  border: 5px solid #0f0;
  margin-right: 3px;
}

/*
.photo-grid-item > img {
  width: 80%;
}
*/
