
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
}

h1, p {
  background-color: #DDE0E3;    /* Light gray */
}

em, strong {
  background-color: #B2D6FF;    /* Light blue */
  display: inline;              /* This is the default for em and strong */
}

h1 {
    padding: 50px;
    border-bottom: 1px solid #5D6063;
}

p {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

p {
  padding: 20px 10px;         /*Vertical Horizontal*/
}

p {
  padding: 20px 0 20px 10px;  /* Top  Right  Bottom  Left */
  margin-top: 25px;
  margin-bottom: 50px;
}

strong {
  margin: 50px;
}

div {
  color: #FFF;
  background-color: #5995DA;
  font-weight: bold;
  padding: 20px;
  text-align: center;
  border: 2px solid #5D6063;
  border-radius: 5px;
  width: 200px;
  box-sizing: border-box;
  margin: 20px auto;
}
